body {
    margin: 0;
    background-color: #f8f8f8;}



.uk-offcanvas-bar {
    background-color: #fff;
    color: #666;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);}
.uk-offcanvas-bar .uk-offcanvas-close {
    color: #666;}
.uk-offcanvas-bar .uk-offcanvas-close:hover {
    color: #000000;}
.uk-offcanvas-bar a.uk-margin-small {
    width: 100%;
    background-color: transparent;
    color: #333;
    border: 1px solid #e5e5e5;}
.uk-offcanvas-bar a.uk-margin-small:hover {
    width: 100%;
    background-color: transparent;
    color: #333;
    border-color: #b2b2b2;}

    
    
.uk-button-default {
    line-height: 1.2!important;
    padding: 13px!important;}
    
    
    
.uk-input, .uk-select, .uk-textarea {
    border: 1px solid #1e87f0;}
.uk-input:disabled, .uk-select:disabled, .uk-textarea:disabled {
    background-color: #f8f8f8;
    color: #666;
    border-color: #1e87f0;}
.uk-select {
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    background: #fff;
    color: #666;
    border: 1px solid #1e87f0;}
#files {
    padding: 6px;}
p.operator {
    margin: 0;
    font-size: 11px;
    top: 10px;
    left: 10px;}
    
    
    
button.uk-ticket-button {
    line-height: 1.4;
    min-height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;}
button.uk-ticket-button span {
    font-size: 12px;
    text-transform: capitalize;
    color: red;}



.uk-ticket-button-station-items {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;}
button.uk-ticket-button-station {
    margin: 5px!important;
    width: fit-content;
    height: auto;
    padding: 4px!important;
    text-transform: none;
    font-weight: 700;}
.uk-ticket-button-station-items button.station_select {
    background-color: #52af52;}



button.uk-ticket-seat {
    margin: 5px;
    padding: 0;
    line-height: 1.4;
    width: 45px;
    min-height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;}
button.uk-ticket-seat:hover {
    background-color: #52af52;}
button.uk-ticket-edit-seat {
    margin: 5px;
    padding: 0;
    line-height: 1.4;
    width: 45px;
    min-height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;}
button.uk-ticket-edit-seat:hover {
    background-color: #52af52;}
button.uk-mass-reserv-seat {
    margin: 5px;
    padding: 0;
    line-height: 1.4;
    width: 45px;
    min-height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;}
button.uk-mass-reserv-seat:hover {
    background-color: #00a4ff;}
button.seat_select {
    position: relative;
    background-color: #52af52!important;}
button.seat_select_mass {
    position: relative;
    background-color: #00a4ff;}
button.seat_reserv {
    position: relative;
    background-color: #ff5d5d!important;
    color: #333!important;}
button.seat_pay {
    position: relative;
    background-color: #ffa200!important;
    color: #333!important;}
p.noconfirm {
    position: absolute;
    top: -1px;
    left: 2px;
    font-size: 12px;
    color: #000000;}
p.confirm {
    position: absolute;
    top: -1px;
    left: 2px;
    font-size: 12px;
    color: #48ff00;}
p.noappeared {
    position: absolute;
    top: -1px;
    left: 2px;
    font-size: 12px;
    color: #000000;}
p.appeared {
    position: absolute;
    top: -1px;
    left: 2px;
    font-size: 12px;
    color: #000000;}
    
    
    
.reestr_seat {
    max-height: 200px;
    overflow: auto;
    margin: 10px 0 0 0;
    border: 1px solid #e5e5e5;
    padding: 7px;
    display: flex;
    flex-direction: column;}
.reestr_seat p.reestr_seat_item {
    margin: 5px 0 5px 0;
    line-height: 0.9;}
.reestr_seat p.reestr_seat_item span{
    font-size: 12px;}
.filter {
    position: absolute;
    top: 10px;
    right: 10px;}
.filter-elem {
    display: flex;
    align-items: center;}
.filter_icon {
    cursor: pointer;
    margin: 0 10px 0 0;}
#search_tickets {
    height: 28px;
    width: 270px;}
    
    
    
.reestr_passenger {
    max-height: 200px;
    overflow: auto;
    margin: 10px 0 0 0;
    border: 1px solid #e5e5e5;
    padding: 7px;
    display: flex;
    flex-direction: column;}
.reestr_passenger p.passengers_item {
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    margin: 3px 0 3px 0;}
.reestr_passenger p.passengers_item span {
    font-weight: 400;}
.reestr_passenger p.passengers_item:hover {
    color: green;
    font-weight: 700;}
.reestr_passenger p.passenger_select {
    color: green;
    font-weight: 700;}
.messages {
    margin: 10px 0 10px 0;
    text-align: center;
    font-weight: 500;}